<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>*@
    <link rel="shortcut icon" href="#">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index"><img src="~/Content/img/MS logo.jpg" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Courses", "Index", "Course")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Trainers", "Index", "Trainer")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Students", "Index", "Students")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Assignments", "Index", "Assignment")
                    </li>
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <hr />
    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/Content/img/MS logo - Dark.jpg" />
                    <hr class="light" />
                    <p>555-555-5555</p>
                    <p>contact@michaelschools.com</p>
                    <p>135 Fake Street</p>
                    <p>City, State, 19400</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Our hours</h5>
                    <hr class="light" />
                    <p>Monday - Friday: 9am - 5pm</p>
                    <p>Weekends: Closed</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Service Area</h5>
                    <hr class="light" />
                    <p>Attica</p>
                    <p>Thessalonike</p>
                    <p>Chania</p>
                </div>
                <div class="col-12">
                    <hr class="light" />
                    <h5>&copy; Michael Schools 2021</h5>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
